body {
    font-family: 'Open Sans', sans-serif;
}

.main-container {
    margin: 0 auto;
}

/* NAVIGATION */

.top-container {
    background-color: #222;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
}

/* Adds orange background color to logo */

.logo {
    background-color: #c78c06;
    margin: 0 0.8rem;
}

/* Removes default styling of navigation links and adds company colors */
nav ul li a {
    text-decoration: none;
    color: #c78c06;
}

nav ul li {
    text-align: center;
    margin: 0;
    padding: 2rem;
}

nav ul li:nth-child(1) {
    background-color: #c78c06;
    margin: 0 0.8rem;
}

.home {
    color: #222;
}

/* Styles the search bar with the magnifying glass icon */
.search {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}

.search-bar {
    width: 85%;
    height: 35px;
}

.fa-magnifying-glass {
    color: #c78c06;
    padding: 0.5rem;
    font-size: 1rem;
    border-width: 1px;
    border-style: solid;
    border-color: #c78c06;
}

@media only screen and (min-width: 760px) {

}