body {
    font-family: 'Open Sans', sans-serif;
    color: #222;
}

.main-container {
    margin: 0 auto;
    overflow: hidden;
}

/* NAVIGATION */

.top-container {
    background-color: #222;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
}

/* Adds orange background color to logo */

.logo {
    background-color: #c78c06;
    margin: 0 0.8rem;
}

.header-container {
    padding-top: 1rem;
}

/* Removes default styling of navigation links and adds company colors */
nav ul li a {
    text-decoration: none;
    color: #c78c06;
}

nav ul li {
    text-align: center;
    margin: 0;
    padding: 2rem;
}

nav ul li:nth-child(1) {
    background-color: #c78c06;
    margin: 0 0.8rem;
}

.home {
    color: #222;
}

/* Styles the search bar with the magnifying glass icon */
.search {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}

.search-bar {
    width: 85%;
    height: 35px;
}

.fa-magnifying-glass {
    color: #c78c06;
    padding: 0.5rem;
    font-size: 1rem;
    border-width: 1px;
    border-style: solid;
    border-color: #c78c06;
}

/* WELCOME TO THREE STAR MEDIA */

.main-banner {
    width: 100%;
    height: 100%;
    position: relative;
}

.main-banner-image {
    width: 100%;
}

/* Overlays text on top of image by using z-index */

.welcome-section {
    background-color: rgba(34,34,34,0.7);
    position: absolute;
    z-index: 1;
    height: 85%;
    top: 25px;
}

.welcome-section h2 {
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    padding: 0.8rem;
}

.welcome-section p {
    font-size: 0.8rem;
    line-height: 1.3rem;
    color: #fff;
    padding: 0.8rem;
}

.connect-button {
    background-color: #c78c06;
    border: none;
    margin: 0 0 1.5rem 0.8rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 300;
    transition: 0.5s;
}

/* Adds micro-interaction with user on mouse hover. */
.connect-button:hover {
    background-color: #222;
    color: #c78c06;
    border: none;
    margin: 0 0 1.5rem 0.8rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 300;
}

/* Styles the icon */
.fa-caret-right {
    margin: 0 0.5rem;
    padding: 0;
    font-size: 1.7rem;
}

/* ABOUT US */

.body-container {
    width: 100%;
    margin: 0 auto;
}

.about-container {
    background-color: #FFE6AC;
    margin-bottom: 2rem;
}

.about-image {
    width: 100%;
    display: block;
    text-align: center;
}

.about-image img {
    width: 95%;
    margin-top: 1rem;
}

.about-container h1,p {
    color: #222;
}

.about-container h1 {
    font-size: 3rem;
    font-weight: 600;
    margin: 1.5rem;
}

.about-container p {
    font-size: 1rem;
    font-weight: 400;
    margin: 2rem 1.5rem;
    line-height: 1.3rem;
}

.paragraph-wrapper {
    padding-bottom: 0.8rem;
}

/* SERVICES */

.services-container {
    width: 90%;
    margin: 2.5rem auto;
}

/* Sets the width of the wrapper to 95% of the screen so it doesn't take up the whole space */
.services-wrapper {
    width: 95%;
    margin: 1.5rem auto;
}

/* Sets the image width to 100% of the wrapper which is 95% of the viewport */

.services-wrapper img {
    width: 100%;
}

/* Sets the section with content to a width of 100% of the wrapper which is 95% of the viewport */
/* Reusable classes are utilized to set the style for all the services cards */

.services-details {
    width: 100%;
    background-color: #FFE6AC;
}

h2 {
    font-size: 3rem;
    font-weight: 600;
    margin-left: 0.5rem;
}

.services-details h3 {
    font-size: 2rem;
    font-weight: 600;
    padding: 1.2rem 0.8rem;
}

.services-wrapper p {
    font-size: 0.9rem;
    line-height: 1.4rem;
    padding: 1.2rem 0.8rem;
}

.services-button {
    background-color: #222;
    border: none;
    margin: 0 0 1.5rem 0.8rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
    transition: 0.5s
}

/* Adds micro-interaction with user */
.services-button:hover {
    background-color: #fff;
    border: none;
    margin: 0 0 1.5rem 0.8rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 300;
    color: #222;
}

/* VISION */

/* Sets the container to the full width of the viewport which goes end-to-end of the screen */
.vision-container {
    width: 100%;
    position: relative;
}

/* Sets the width of the image to take 100% of the width which will force it to go end-to-end */
.vision-image {
    width: 100%;
}

/* The content of the vision section will only take up 90% of the container */
.vision-wrapper {
    width: 90%;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vision-wrapper h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    margin: 1.5rem 0;
}

.vision-wrapper p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #fff;
}

.vision-button {
    background-color: rgba(34,34,34,0.7); /* This will give the button a little bit of transparency*/
    border: 1px solid #c78c06;
    margin: 2rem 0;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
    transition: 0.5s;
}

.vision-button:hover {
    background-color: rgba(199,140,6,0.7); /* This will give the button a little bit of transparency*/
    border: 1px solid #c78c06;
    margin: 2rem 0;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 300;
    color: #222;
}

/* TEAM */

.team-container {
    width: 90%;
    margin: 2.5rem auto;
}

.team-container img {
    width: 100%;
}

.team-card {
    margin: 2rem auto;
}

.team-section {
    width: 100%;
    background-color: #FFE6AC;
}

.team-section hr {
    border: 1px solid #c78c06;
    margin: 0.5rem;
}

.team-section h3 {
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem 0.5rem;
}

.team-section h5 {
    font-size: 1rem;
    padding-left: 0.5rem;
}

.team-section p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 1rem 0.5rem;
}

/* CONTACT */
.contact-container {
    width: 95%;
    margin: 0 auto;
}

.contact-wrapper {
    width: 100%;
}

.contact-wrapper h2 {
    font-size: 3rem;
    font-weight: 600;
}

.contact-wrapper h3 {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.5rem 0.7rem;
}

/* Sets the form to the full width of the container, which is 95% of the viewport */
form {
    width: 100%;
}

/* Displays the elements in the form edge-to-edge of the container */
.contact-wrapper label{
    display: block;
    font-size: 1rem;
    padding: 0.7rem;
}

.contact-wrapper input {
    display: block;
    margin-left: 0.7rem;
    width: 95%;
    height: 30px;
}

.contact-wrapper textarea {
    display: block;
    margin-left: 0.7rem;
    width: 95%;
}

#submit-button {
    width: 18%;
    height: 20%;
    background-color: #222; 
    border: none;
    color: #c78c06;
    padding: 1rem;
    display: inline-block;
    font-size: 1.2rem;
    margin: 1rem 0.7rem;
    transition: 0.5s;
}

/* Adds micro-interaction on hover */
#submit-button:hover {
    width: 18%;
    height: 20%;
    background-color: #c78c06; 
    border: none;
    color: #222;
    padding: 1rem;
    display: inline-block;
    font-size: 1.2rem;
    margin: 1rem 0.7rem;
}

/* HOURS OF OPERATION */

.hours-container {
    width: 95%;
    margin: 1rem auto;
}

.hours-wrapper {
    width: 100%;
}

.hours-wrapper h2 {
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem 0;
}

table, thead, tbody, td, th {
    border: 1px solid #222;
}

table {
    width: 100%;
}

thead {
    background-color: #FFE6AC;
    text-align: center;
}

th, td {
    padding: 1rem;
}

/* LOCATION */ 
.location-container {
    width: 95%;
    margin: 1rem auto;
}

.location-wrapper {
    width: 100%;
}

.location-wrapper iframe {
    width: 100%;
    margin: 0 auto;
}

.location-wrapper h2 {
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem 0;
}

/* FOOTER */

footer {
    background-color: #222;
    padding: 1rem;
}

footer p {
    color: #c78c06;
    padding: 1rem;
}

footer p a {
    text-decoration: underline;
    color: #c78c06;
}

/* MEDIA QUERY */

@media only screen and (min-width: 760px) {

    /* NAVIGATION */

    /* resuable class to display items side-by-side */

    .flex {
        display: flex;
    }

    .logo {
        margin-right: 2rem;
    }

    .home {
        padding: 0 1.2rem;
    }

    .header-container {
        padding: 3rem;
        justify-content: space-around;
    }

    nav ul {
        align-items: center;
        margin-top: 1rem;
    }

    nav ul li {
        text-align: center;
        margin: 0;
        padding: 1.5rem;
    }

    .search {
        text-align: right;
        margin: 0.7rem;
        width: 25%;
    }

    .search-bar {
        width: 80%
    }

    /* WELCOME TO THREE STAR MEDIA */

    .main-banner {
        width: 100%;
        height: 700px;
        position: relative;
    }
    
    .main-banner-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    /* Overlays text on top of image by using z-index */
    
    .welcome-section {
        width: 87%;
        height: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .welcome-section h2 {
        font-size: 3.5rem;
        padding: 3rem 3rem 1rem 3rem;
    }
    
    .welcome-section p {
        font-size: 1.2rem;
        line-height: 2rem;
        padding: 3rem 3rem 1rem 3rem;
    }
    
    .connect-button {
        margin: 2rem 3rem;
        padding: 2.5rem;
        font-size: 1.3rem;
        transition: 0.5s;
    }
    
    /* Adds micro-interaction with user on mouse hover. */
    .connect-button:hover {
        background-color: #222;
        color: #c78c06;
        margin: 2rem 3rem;
        padding: 2.5rem;
        font-size: 1.3rem;
        font-weight: 300;
    }
    
    /* ABOUT US */

    .about-container {
        display: flex;
    }

    .about-container {
        padding: 2rem 5rem;
    }

    .about-image {
        width: 100%;
        display: block;
    }

    .about-image img {
        margin: 0rem;
    }

    .about-container h1,p {
        color: #222;
    }

    .about-container h1 {
        font-size: 2rem;
        font-weight: 600;
        margin: 1rem;
    }

    .about-container p {
        font-size: 1rem;
        font-weight: 400;
        margin: 2rem 1rem;
    }

    .paragraph-wrapper {
        padding: 0;
    }

    /* SERVICES */

    .services-container {
        width: 85%;
        margin: 2.5rem auto;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: max-content; /* Size of each row depends on the largest item in the row */
    }

    .services-wrapper {
        width: 95%;
        margin: 1.5rem 0;
        padding: 0rem;
    }
    .services-wrapper img {
        width: 100%;
    }

    .services-title {
        grid-column: span 6;
        grid-row: span 1;
        margin: 1.5rem 0;
    }

    .digital-transformation {
        grid-column: 1 / span 3;
        grid-row: 2 / span 3;
    }

    .marketing {
        grid-column: 4/ span 3;
        grid-row: 2 / span 3;
    }

    .video-production {
        grid-column: 1 / span 2;
        grid-row: 5 / span 3;
    }    

    .web-development {
        grid-column: 3 / span 2;
        grid-row: 5 / span 3;
    }

    .print {
        grid-column: 5 / span 2;
        grid-row: 5 / span 3;
    }


}