body {
    background-color: #AAD4CF;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
}
 
/* Aligns the body of the website to center by setting the margin to 0 and auto */
.wrapper {
    max-width: 800px;
    margin: 0 auto;
    background-color: #D4E9E7;
}

main, .contact-wrapper, footer{
    padding: 1rem;
}

/* HERO IMAGE WITH TEXT HEADING */

.wrapper header {
    position: relative;
    max-width: 100%;
}

/* Sets the hero image size to maximum width of the div with class 'wrapper' to fit the image */
#wide-starfish-image {
    /* position: absolute; */
    max-width: 100%;
    position: relative;
}

.wrapper h1 {
    z-index: 1; /* Z-index allows elements to stack on top of each other. By giving the H1 tag a higher value, it is now 1 layer on top of all the elements, which by default has 0 value, therefore allowing it to be positioned over the image */
    position: absolute;
    margin: 0;
    top: 40%;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    opacity: 0.9;
}

/* NAVIGATION */

/* Changes default style of links in the navigation */
nav ul li a:link, nav ul li a:visited {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase
}

/* ARRANGES navigation to side-by-side */

nav ul {
    max-width: 100%;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
}

/* PARAGRAPH */



/* LABELS */

.contact-wrapper {
    border: 1px solid black;
    padding: 2rem;
    margin: 0 10px;
}

.text-input {
    padding: 0.5rem 0;
    display: block;
}

#fullname, #email, #message {
    width: 100%;
}

/* Changes the default style of a button input */
#submit-button {
    display: block;
    margin: 1rem 0;
    background: none;
    color: inherit;
    border: 1px solid black;
    padding: 0.5rem;
    cursor: pointer;
}

footer {
    text-align: right;
    padding: 1.5rem;
}